/* remove any default margina and padding */
body { 
    margin: 0;
    padding: 0;
    background-color: #0091AD;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

body h1{
    text-align: center;
    margin-top: 1em;
    font-size:40px;
}

#game-container {
    margin: 0 auto;
    background-color: #6EFAFB;
    width: 60%;
    padding: 2em;
    border-radius: 20px;
}

#level-title {
    font-size: 2em;
    text-align: center;
    margin: 0;
}



#game-elements {
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#left-buttons button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

#right-buttons{
    margin: auto;
}
#right-buttons button{
    display: flex;
    flex-direction: row;
}

.userxcomputer {
    text-align: center;
    font-size: 1.5em;
}

.btn {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    padding: none;
    margin-bottom: 10px;
    background-color: rgb(255, 117, 117);
    box-sizing: border-box;
    border: none;
}

.btn i{
    font-size: 60px;
    margin: auto;
}

#center-text {
    text-align: center;
    margin: auto;
    font-size: 3em;
}

#text-container h3, p{
    margin: 0;
}

#text-container p{
    font-size: 0.5em;
}

.bottom-button {
    background-color: rgb(111, 214, 111);
    color: white;
    padding: 30px;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    border: 1px solid green;
}

#continue-button {
    display: none;
}

.submitHolder {
    text-align: center;
}

